<div class="customer-page">
  <h1 class="customer-page__title">Set a new password</h1>
  <p class="customer-page__sub">Choose a password for your account.</p>

  {% form 'reset_customer_password' %}
    {% if form.errors %}
      <ul class="customer-page__errors">
        {% for field in form.errors %}
          <li>{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="customer-form__field">
      <label for="ResetPassword">Password</label>
      <input id="ResetPassword" class="customer-form__input" type="password" name="customer[password]" autocomplete="new-password" required>
    </div>
    <div class="customer-form__field">
      <label for="ResetPasswordConfirm">Confirm password</label>
      <input id="ResetPasswordConfirm" class="customer-form__input" type="password" name="customer[password_confirmation]" autocomplete="new-password" required>
    </div>

    <div class="customer-form__actions">
      <button type="submit" class="btn btn--gold btn--full">Reset password</button>
    </div>
  {% endform %}
</div>
